#error{
  text-align: center;
  height: 60vh;
  display: grid;
  align-items: center;
}
#error .err{
  text-align: -webkit-center;
}
#error i{
  color: #F65B5F;
}
#error h3{
  font-size: 1.5rem;
}
#error button#goHomeBtn{
  background-color: #FFFFFF;
  outline: none;
  border: 1px solid #F65B5F;
  background-image: 
    linear-gradient(to top, hsl(0, 0%, 100%) 50%, #F65B5F 50%),
    linear-gradient(to top, #F65B5F 50%, transparent 50%);
  -webkit-background-clip: text,padding-box;
  background-clip: text,padding-box;
  -webkit-text-fill-color: transparent;
  color: transparent;  
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}
#error button#goHomeBtn:hover{
  background-position: bottom;
}