.contain{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: radial-gradient(#d8d7d72c 20%, transparent 20%);
    background-size: 30px 30px;
    /* color: #F65B5F; */
}
.header{
    text-align: left;
    color:#1b1b1b;
    border-radius: 5px;
    display: grid;
    text-align: center;
    justify-content: center;
    padding-top: 4rem;
}
i{
    color: #F65B5F;
  }
h2{
    font-size: 2rem;
}
.col-md-12{
    width: 100%;
    margin: 0;
    padding: 0;
}
.input-area{
    padding:30px 0;
    text-align: left; 
    /* background-color:#eae3c8;  */
    color: #1d1d11;; 
    border-radius: 5px;
    display: grid;
    justify-content: center;
}
.input-area .row{
    width: 18rem;
    margin: auto;
}
.input-area input{
    /* border-radius: 10px; */
    border:1px solid rgb(158, 158, 158);
    padding: 0.4rem 0.4rem;
    transition: 0.5s all;
    width: 100%;
}
.input-area label{
    padding: 0.4rem 0.6rem;
    font-size: 1.1rem;
}
.input-area input:focus{
    box-shadow: 0 0 15px rgb(158, 158, 158);
    transition: 0.5s all;
    outline: none;
}
.check{
    color: #F65B5F;
}
.hide{
    display: none;
}
.btn-coral{
    color:#F65B5F;
    border:2px solid #F65B5F;
}
.btn{
    font-weight: bold;
    border-radius: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn:focus, .btn:active{
    outline: none;
    box-shadow: none;
}
.btn-coral:hover{
    color: white;
    background-color: #F65B5F;
    box-shadow:0 0 15px rgb(255, 178, 150);
}
.password {
    display: grid;
    justify-content: center;
}