<div class="contain">
    <div class="header">
        <h2>
            <i class="fas fa-key"></i> Change Your Password
        </h2>
    </div>

    <div class="container">
        <div class="input-area container-fluid">
            <form [formGroup]="myForm">
                <!-- password -->
                <div class="password col-md-12 mb-3">
                    <label for="password" class="col-sm-12">Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control rounded-0" id="password" placeholder="password" name="password"
                            formControlName="password" required>

                    </div>
                    <div *ngIf="myForm.controls.password.errors && myForm.controls.password.touched"
                        class="error text-danger">
                        <p *ngIf="myForm.controls.password.errors.required">password is Required</p>
                        <p *ngIf="myForm.controls.password.errors.minlength">password must be more than 8 characters
                        </p>
                    </div>
                    <!-- confirm password -->
                    <label for="confirmPassword" class="col-sm-12">Confirm Password</label>
                    <div class="col-md-12 mb-3">
                        <div class="input-group">
                            <input type="password" class="form-control rounded-0" id="confirmPassword" placeholder="confirmPassword"
                                name="confirmPassword" formControlName="confirmPassword" required>

                        </div>
                        <div *ngIf="myForm.controls.confirmPassword.errors && myForm.controls.confirmPassword.touched"
                            class="error text-danger">
                            <p *ngIf="myForm.controls.confirmPassword.errors.required">confirm pasword is Required
                            </p>
                            <p *ngIf="myForm.controls.confirmPassword.value != myForm.controls.password.value">confirm
                                pasword must match password
                            </p>
                        </div>
                    </div>
                    <p>{{msg}}</p>
                    <div class="row mt-3">
                        <button class="change rounded-0 btn btn-coral w-100"
                            [disabled]="myForm.controls.confirmPassword.value != myForm.controls.password.value || !myForm.touched || myForm.controls.password.errors?.required"
                            (click)="confirmpw()">Change
                            password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>