<section id="orders">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <h2>My Orders</h2>
            </div>
            <div class="col-xs-12 col-md-10">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Order Number</th>
                            <th scope="col">Status</th>
                            <th scope="col">Total</th>
                            <th scope="col">Delivered From</th>
                            <th scope="col">Delivered To</th>
                            <th scope="col">Details</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="!isFetching && !isError">
                        <tr *ngFor="let order of orders; index as i" id="numRows">
                            <th>{{order._id}}</th>
                            <td>{{order.orderStatus}}</td>
                            <td>$ {{totalPriceArr[i]}}</td>
                            <td>{{order.deliverAt.from}}</td>
                            <td>{{order.deliverAt.to}}</td>
                            <td>
                                <!-- <button class="btn rounded-0" id="viewDetails" (click)="orderDetails(order._id)" >Details</button> -->
                                <button class="btn rounded-0" id="viewDetails"
                                    routerLink={{ordersId[i]}}>Details</button>
                                <!-- <button class="btn rounded-0" id="viewDetails" [routerLink]="['/profileOrderDetails']">Details</button> -->
                            </td>
                            <td><button class="btn rounded-0" id="cancelOrder" [disabled]="order.orderStatus!='pending'" (click)="cancelOrder(order._id)"><i class="fas fa-times"></i> Cancel</button></td>
                        </tr>
                    </tbody>
                </table>
                <div  *ngIf="isFetching && !isError">
                    <mat-spinner class="loading"></mat-spinner>
                    <!-- <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div> -->
                </div>
                <div *ngIf="!isFetching && isError">
                    <div class="text-danger alert-danger error"><i class="fas fa-exclamation-triangle"></i> Unable To Get Orders</div>
                </div>
            </div>
        </div>
    </div>
</section>